body {
    text-align: center;
}

h1 {
    font-family: Arizonia;
    color: red;
    font-size: 100px;
    margin: 0.3em;
}

h2 {
    color: red;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    color: red;
    margin-top: 0.5em;
}

table,
tr,
td {
    color: red;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    color: red;
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
